@import url('https://fonts.googleapis.com/css?family=Open Sans');
* {
    box-sizing: border-box;
    font-family:'Open Sans';
}
body {
    margin: 0;
    padding: 0;
}

/* Header */
.parent {
    background: linear-gradient(120deg, #D8BCFF , #800661);
    position:relative;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 0;
    padding-right: 0;
}
.titulo {
    font-size: 4vw;
    font-weight: bold;
    text-decoration: none;
    color:black;
}
.nombreUsuario {
    position:absolute;
    top:20%;
    right:2%;
}
.change-icon > .fa + .fa,
.change-icon:hover > .fa {
  display: none;
}
.change-icon:hover > .fa + .fa {
  display: inherit;
}

/* mapa */
#map {
    width: 80vw;
    height: 65vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid blueviolet;
    border-radius: 10px;
}
.marker {
    background-image: url("../imagenes/miUbicacion.png");
    background-size: cover;
    width: 50px;
    height:50px;
    border-radius: 50px;
    cursor: pointer;
}
.marker2 {
    background-image: url("../imagenes/usuarios.png");
    background-size: cover;
    width: 50px;
    height:50px;
    border-radius: 50px;
    cursor: pointer;
}
.marker2:hover {
    width: 100px;
    height: 100px;
}


/* Adaptacion a otras resoluciones */
@media screen and (max-width: 600px) {
    #map {
        width: 80vw;
        height: 80vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        border: 3px solid blueviolet;
        border-radius: 10px;
    }
}